.titleAnimated {
    font-size: 45px;
    font-weight: 600;
    z-index: 1;
    text-align: center;
}

@media only screen and (min-width: 661px) and (max-width: 1023px) {
    .titleAnimated {
        font-size: 30px;
        font-weight: 900;
        z-index: 1;
        text-align: center;
        line-height: 1.2em;
        padding-top: 10px;       
    }
}

@media screen and (max-width: 660px) {
    .titleAnimated {
        font-size: 20px;
        font-weight: 900;
        z-index: 1;
        text-align: center;
        line-height: 1.2em;
        padding-top: 10px;       
    }
}
