.blackC {
    background: #000000;
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    padding: 10px 10px 12px 10px;
    border-radius: 9px;            
}

.blueC {
    background: #3200ff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    padding: 10px 10px 12px 10px;
    border-radius: 9px; 
    flex-wrap: wrap;            
}

.divParagrafhis {
    display: flex;     
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: auto;    
}

.whiteP {             
    color: #ffffff;
    font-size: 17px;
    font-weight: 100;
}

.orangeP {       
    color: #c68f33;
    font-size: 17px;
    font-weight: 500;
}

.roseP {         
    color: #8c3750;
    font-size: 17px;
    font-weight: 500;
}

.greemP {      
    color: #69c986;
    font-size: 17px;
    font-weight: 500;
}

.paragOcul {
    display: none;
}

@media screen and (max-width: 660px) {
    .divParagrafhis {
        display: flex;                   
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;        
        height: auto;    
    }
    
    .whiteP {  
        display: flex;                  
        color: #ffffff;
        font-size: 17px;
        font-weight: 100;
    }
    
    .orangeP {  
        display: flex;              
        color: #c68f33;
        font-size: 17px;
        font-weight: 500;
    }
    
    .roseP { 
        display: flex;                
        color: #8c3750;
        font-size: 17px;
        font-weight: 500;
    }
    
    .greemP { 
        display: flex;            
        color: #69c986;
        font-size: 17px;
        font-weight: 500;
    }
}