@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 28, 32;
  --background-start-rgb: 28, 28, 32;
  --background-start-rgb: 28, 28, 32;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 28, 28, 32;
    --background-start-rgb: 28, 28, 32;
    --background-end-rgb: 28, 28, 32;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
