.divflex {
    display: flex;
    aling-items: center;
    justify-content: center;    
    width: 100%;
    min-height: 100vh;
    padding: 130px 0px 50px 0px;   
    -webkit-tap-highlight-color: transparent;       
}

.gridMaster {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1;  
    margin: 0px 40px 0px 40px;  
    width: 1200px;
    align-items: start;
    justify-content: center; 
    grid-gap: 0px 20px;   
}

.divTitleContact {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: start;
}

.primaryGrid {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    padding-right: 0px;
    margin-top: 0px;
}

.secondaryGrid {
    margin-top: 70px;
    grid-column: 2 ;
    grid-row: 2;  
    min-height: 635px;  
}

.thirdGrid {
    margin-top: 70px;
    grid-column: 3 ;
    grid-row: 2; 
    min-height: 635px;
}

.imgContact {
    border-radius: 9px;  
    margin-top: 52px; 
}

.adorno {
    color: #15803d;
    font-size: 35px;
    font-weight: 700;
}

.adorno:hover {
    color: #fb923c;
    font-size: 35px;
    font-weight: 700;
}

.titleContact {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

@media only screen and (min-width: 661px) and (max-width: 1023px) {
    .divflex {
        display: flex;
        aling-items: center;
        justify-content: center;    
        width: 100%;        
        padding: 130px 0px 80px 0px;    
    }
    
    .gridMaster {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3;  
        margin: 0px 40px 0px 40px;  
        max-width: 700px;
        align-items: start;
        justify-content: center; 
        grid-gap: 40px 40px;   
    }
    
    .divTitleContact {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
        align-items: center;
    }
    
    .primaryGrid {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 70%;
        justify-self: center;
        align-items: center;
        padding-right: 0px;
        margin-top: -50px;
    }
    
    .secondaryGrid {
        grid-column: 1 ;
        grid-row: 3;
        width: 100%;  
        align-items: start;
        justify-self: center;  
        min-height: 0px;   
        margin-top: 0px;    
    }
    
    .thirdGrid {
        grid-column: 2 ;
        grid-row: 3;
        width:100%;  
        align-items: start;
        justify-self: center;  
        min-height: 0px; 
        margin-top: 0px;           
    }
    
    .imgContact {        
        align-items: center;
        justify-self: center; 
        border-radius: 9px;  
        margin-top: 70px;   
        margin-bottom: 50px; 
    }
    
    .adorno {
        color: #15803d;
        font-size: 35px;
        font-weight: 700;
    }
    
    .adorno:hover {
        color: #fb923c;
        font-size: 35px;
        font-weight: 700;
    }
    
    .titleContact {
        font-size: 50px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }    
}

@media screen and (max-width: 660px) {
    .divflex {
        display: flex;
        aling-items: center;
        justify-content: center;    
        width: 100%;        
        padding: 130px 0px 80px 0px;    
    }
    
    .gridMaster {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;  
        margin: 0px 20px 0px 20px;  
        width: 100%;
        align-items: start;
        justify-content: center; 
        grid-gap: 40px 0px;   
    }
    
    .divTitleContact {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        align-items: center;
    }
    
    .primaryGrid {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        justify-self: center;
        padding-right: 0px;
        margin-top: -50px;
    }
    
    .secondaryGrid {
        grid-column: 1 ;
        grid-row: 3;
        width: 100%;  
        align-items: start;
        justify-self: end;  
        min-height: 0px;   
        margin-top: -40px;    
    }
    
    .thirdGrid {
        grid-column: 1 ;
        grid-row: 4;
        width: 100%;  
        align-items: start;
        justify-self: start;  
        min-height: 0px; 
        margin-top: 0px;             
    }
    
    .imgContact {
        align-items: center;
        justify-self: center; 
        border-radius: 9px;  
        margin-top: 50px;   
        margin-bottom: 50px; 
    }
    
    .adorno {
        color: #15803d;
        font-size: 35px;
        font-weight: 700;
    }
    
    .adorno:hover {
        color: #fb923c;
        font-size: 35px;
        font-weight: 700;
    }
    
    .titleContact {
        font-size: 35px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
}

@media screen and (min-width: 1024px) {
   
}
