.divOutside {
    background: rgb(21,128,61);
    background: linear-gradient(0deg, rgba(21,128,61,0.1292892156862745) 0%, rgba(32,32,36,1) 23%);
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 300px;    
    margin: 0px;        
    padding: 24px;
    border: 1px solid  #333333;
    flex-shrink: 1;
    border-radius: 9px;
    overflow-y: hiddenn;
    transition-property: border-color,background;
    transition-duration: .45s;
    -webkit-tap-highlight-color: transparent;  
    z-index: 1;   
}

.divOutside:hover {
    background: rgb(21,128,61);
    background: linear-gradient(0deg, rgba(21,128,61,0.17130602240896353) 0%, rgba(32,32,36,1) 23%);
    border: 1px solid rgba(21,128,61, 1);
    overflow-y: hiddenn;
    box-shadow: inset 1px 1px 19px rgba(21,128,61,0.5);
}

.imageCard {
    border-radius: 5px;
}

.divInside {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    overflow-y: hiddenn;
    flex-grow: 1;
    gap: 20px;      
}

.wrappedDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hiddenn;
    gap: 15px;
}

.titleComponent {    
    font-weight: 600;
    line-height: 22px;
    font-size: 20px;
    color: #ffffff;
}

.paragrafyComponent {    
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    color: #94a1b2;
    text-align: justify;
}

.buton {
    background-color: #15803d;
    color: #ffffff;    
    border-radius: 7px;  
    padding: 0.1em 0em 0.3em 0em;     
}

.buton:hover {
    background-color: #16a34a;
    color: #000000;
    transition-duration: .45s;
}

.linkButton {    
    width: 100%;
    padding: 0em 2em 0em 2em;        
}
