.descriptionLink {    
    color: #15803d;
    font-weight: 800;
    font-size: 15px;    
    padding: 5px 10px 7px 10px;
    width: 50%;
    align-self: center;
    border-radius: 9px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0);
    transition: 0.35s;
    -webkit-tap-highlight-color: transparent; 
}

.descriptionLink:hover {
    color: #16a34a;  
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)   
}

@media only screen and (min-width: 661px) and (max-width: 1023px) {
    .descriptionLink {

    }
}

@media screen and (max-width: 660px) {
    .descriptionLink {

    }
}

@media screen and (min-width: 1024px) {
    .descriptionLink {

    }
}
