.textparagrafy {
    font-size: 17px;
    font-weight: 400;
    color: #94a1b2;
    text-align: justify;
    -webkit-tap-highlight-color: transparent; 
}

@media only screen and (min-width: 661px) and (max-width: 1023px) {
    .textparagrafy {

    }
}

@media screen and (max-width: 660px) {
    .textparagrafy {

    }
}

@media screen and (min-width: 1024px) {
    .textparagrafy {

    }
}
