.textTitle1 {
    font-size: 30px;
    font-weight: 800;
    padding-top: 4px;
    text-align: left;
    color: #1e1f23;
    padding-bottom:  20px;
    -webkit-tap-highlight-color: transparent; 
}

@media only screen and (min-width: 661px) and (max-width: 1023px) {
    .textTitle1 {
        font-size: 27px;
        text-align: left;
        padding-bottom:  0px;
        line-height: 1em;
    }
}

@media screen and (max-width: 660px) {
    .textTitle1 {
        font-size: 26px;
        padding-top: 10px;
        text-align: left;
        padding-bottom:  0px;
        line-height: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .textTitle1 {

    }
}
